<HMTL>
<Body>
DIA Server By Sebastian Zaba <p>
After countless hours, trouble shooting, learning about threads/object synchronization I present to you DIA<p>

<b>How to run it First:</b><br>
Included you will find a compile.bat <a href="compile.bat">View Compile Batch</a> which will compile the java code with its dependencies in the current folder <br>
As long as the global javac variable is set we should have no problems since the external libraries from codehouse are in the provided folder.<br>
THIS was Tested on a 64bit windows 7 machine<br>
After a successfull compile the GameServer and Register can either be run idenpendently via java Register or java GameServer, but the Register should be started first.<br>
The GameServer Registers when started. I ran out of time to implement manual registration. The server will start and be functional but not bound<br>
With no provided arguments the GameServer will ask for start up details otherwise the GameServer will have to be invoked with 5 arguments [RegisterIP, RegisterPort, HallName, HallIP, HallPort]<p>

<b>The DEMO</b><p>
This constructor is used when starting the startDemo batch <a href="startDemo.bat"> View Start Demo</a> <br>
The demo will start the Register in a seperate window and then ask to hit enter to start one GameServer, and again Hit enter inside the batch file window<br>
The demo uses localhost and ports 2555, 2567, 2568, 2540 which can be modifed to specification<br>
This will have started the Register, two servers, the final enter will start the demo and unleash 10 Agents. So a total of 4 windows will be open<br>
After watching the agents bounce around we can check the agents play history by going to <a href="localhost:2540/agents">localhost:2540/agents</a><br>
This will display the name of the agents and their updated history. Looking at the array we can where they have been bouncing in between. Further down<br>
it becomes more interesting when they switch between servers. More the 2 GameServer can be started but to keep it simple the demo does 2. <br>
At any time java GameServer RegisterIP, RegisterPort, HallName, HallIP, HallPort can join more GameServers.<br>
The GameServers are also capable of sending Agents to the Register and are populated with the Register Server information provided at the invokation<br>
Click inside a GameServer Window and hit enter it will ask for a name and send it off to the Register repeat as desired<p>

<b>Design</b><p>
For this DIA we decided to use a NameServer to keep track of all the hosts. The Register takes in "Register Request" and Agents as XML<p>
<b>Server</b><p>
&lt;serverDetail<br>
&lt;serverName>&lt;/serverName&gt;<br>
&lt;serverIP>&lt;/serverIP&gt;<br>
&lt;serverPort>&lt;/serverPort&gt;<br>
&lt;maxAgents>&lt;/maxAgents&gt;<br>
&lt;/serverDetail&gt;<p>

<b>Agent</b><p>
&lt;agentDetail&gt;<br>
  &lt;agentName&gt;&lt;/agentName&gt;<br>
  &lt;IP&gt;&lt;/IP&gt;<br>
  &lt;port&gt;&lt;/port&gt;<br>
  &lt;chipStack&gt;&lt;/chipStack&gt;<br>
  &lt;betSize&gt;&lt;/betSize><br>
  &lt;status&gt;&lt;/status><br>
  &lt;gameHistory><br>
    &lt;string&gt;&lt;/string><br>
  &lt;/gameHistory&gt;<br>
&lt;/agentDetail&gt;<p>

It is general enough that as long as the xml is correct the Register and GameServers can communicate with other programs complying to the xml standard.<br>
Unfortunatly we did not get them collaborate on a full scale, I was able to receive "Shawn McNamara's" Agents and I was able to Register his server.<br>
Shawn's server was written in lisp on an Apple vs my Java/Windows when I was sending data to Shawn it did not receive the complete data there was some<br>
extra data floating or being send even using the end_of_xml and closing the socket at the end would not finish the full transmission. We ran out of time<br>
to work out the network cross architectual issues<p>

<b> The "Intelligent Agent: </b>
In my case I used the ABC Artificial Bee Colony Algorithm to communicate between the Agents for migration suggestions and take game chips from each other.<br>
The agent/bee has a status which is either 0=scout looking for a favorite foodsource/GameServer or 1= Have favorite foodsource/GameServer<br>
The favorite Server is set in the ArrayHistory at index 0. When an agents plays on the server and comes back with more chips then what he/she started with<br>
after playing the set amount games it will favorite the server, if it lost it will set the status to 0 indicating its looking for a new foodsource<br>
After each round the bee is shipped back to its Hive<p>

<b>At the Hive/Register: </b> The bee registers and depending on the status 0/1 its added to the employed queue or scout queue.<br>
If there are any scouts waiting at the Hive the employed bee will share its favorite GameServer with a scout and join it for a round of games<br>
If the scout wins on that server it will return an employed bee and join the according queue. For a quicker turn around I implemented that if<br>
more then 4 scouts are hanging around just go and check existing foodsources/GameServer that are registered with the hive/ hostTracker Object<p>

<b>Shortcommings/Improvments: </b> The Agents are not a 100% thread safe despite my efforts. If too many agents arrive at the same time the GameServer<br>
might refuse an agents but will not go down just indicate that the connection was refusted this agents is then lost :( The server should try resending it. <br>
Due to the extensive learning curve for me I would like to improve the GameSever When time alows. I should implement an additional thread<br>
that would handle queued and migrate Agents. Also I would like to create a stand alone NameServer/GameServer which has different roles/states belongs to a group<br>
and is aware of all other NGServers, can act as failover, and can be hosted on any of them.<br>
</Body>
</HTML>